/*
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd` 
   */

   body {
      /* margin: 0 5em; */
      background-color: #cccccc;
   }

   .container{
      background-color: #ffffff;
   }

   nav {
      /* display: inline-block;
      margin: 0; */
      /* padding: 1em 1em; */
      width: 100%;
      background-color:#ffffff;
   }

   nav h1{
      display: inline-block;
      margin: 0;
      padding: 1em 1em;
      background-color: #4aaaa5;
      color: white;
      height: 100%;
   }

   nav ul {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      float: right;
   }

   nav ul li{
      display: inline-block;
      margin: 0;
      
   }

   nav ul li a{
      display: inline-block;
      padding: 2em 1em;
      margin: 0;
      text-decoration: none;
      color: #777777;
   }
